.project {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;

  &.active {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
  }

  h2 {
    margin: 0 0 8px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #ececec;
    }
  }
}

.tasks {
  padding-top: 70px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      height: 40px;
      border-bottom: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      display: flex;
      align-items: center;

      &:hover,
      &.active {
        background-color: #ececec;
      }
    }
  }
}

.newTask {
  width: fit-content;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: #4a90e2;
  list-style: none;
  cursor: pointer;

  &:hover {
    color: #007bff;
  }
}

.ProjectInformation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 1%;
  min-width: 10%;
}

.ProjectWrapper {
  display: flex;
  gap: 16px;
}

.ContentWrapper {
}

.GanntContainer {
  flex: 1;
  overflow-x: auto;
  overflow-y: scroll;
  min-width: 0;

  .ganttInnerContainer {
    width: max-content;
    min-width: 100%;
    height: 100%;
  }

  &::-webkit-scrollbar {
    height: 8px;
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
}
